body {
	margin: 0;
  	padding: 0;

  	font-family: "Roboto", sans-serif;
  	font-size: 16px;
  	line-height: 24px;
  	font-weight: 400;
  	color: #283136;
}

a {
  text-decoration: none;
}

.main-header {
	background-color: #eeeeee;
}

.main-navigation {
	color: #000000;
	font-size: 16px;
	line-height: 30px;
}

.site-navigation,
.basket {
  list-style: none;
} 

.site-navigation a,
.basket a {
	color: #000000;
}

.site-navigation a:hover,
.basket a:hover {
	color: #fb565a;
}

.slides,
.slides-switches {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.slides-item b {
	font-size: 55px;
	line-height: 55px;
}

.servises-list {
	list-style: none;
}

.servises-list a {
	color: #000000;
}

.servises-list h3 {
	font-size: 24px;
	line-height: 30px;
}

.about-us {
	height: 526px;
}

.about-us-item-1 h3 {
	font-size: 45px;
	line-height: 45px;
}

.percent {
	font-size: 45px;
	line-height: 10px;
}

.feature {
	font-size: 16px;
	line-height: 18px;
}

.customers-list {
	list-style: none;
}

/* ----- внутренняя страница ----- */

.page-title {
	font-size: 55px;
	line-height: 55px;
}
.filter ul {
	list-style: none;
} 

.filter fieldset {
	border: none;
} 

.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

label {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #b8b8b8;
}

.filter-input:hover + label {
	color: #000000;
}

.filter-input:disabled + label {
  color: #ededed;

  opacity: 0.5;
}

.portfolio p {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.sort-by {
	list-style: none;
}

.sort-by a {
	color: #b2b2b2;
}
.sort-by a:hover {
	color: #666666;
}

.templates {
	padding: 0;
  	margin: 0;
	list-style: none;
}

.template-item:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
	color: #000000;
	background-color: #eeeeee;
}

.pagination-item a:hover {
	color: #000000;
	background-color: #dfdfdf;
}

.pagination-item-current a {
	color: #000000;
	background-color: #ffffff;
	border: 2px solid #dbdbdb;
}

.pagination-item-current a:hover {
	color: #000000;
	background-color: #ffffff;
}

.main-footer b {
	font-size: 36px;
	line-height: 36px;
}

.main-footer ul {
	list-style: none;
}

/* ----- Сеточные стили ----- */
html,
body {
  	min-width: 1122px;
  	min-height: 1750px;
}

.main-header {

 }

.main-navigation {
	display: flex;
	justify-content: space-between;
 }

.main-header-logo {
	width: 160px;
	height: 65px;
}

.site-navigation {
	display: flex;
	justify-content: space-around;
	width: 440px;
}

.basket {
	width: 80px;
}

.container {
	min-width: 1160px;
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 45px;
}

.slides-item {
	display: flex;
}

.slides-item-wrapper-1 {
	width: 380px;
}

.slides-item-wrapper-2 {
	display: none;
	width: 580px;
}

.slides-item-wrapper-3 {
	display: none;
	width: 460px;
}

.servises-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
  	padding: 0;
}
.servise-item {
	width: 300px;
}

.about-us-list {
	display: flex;
	justify-content: space-between;
}

.about-us-item-1 {
	width: 660px;
}

.about-us-item-2 {
	width: 360px;
}

.customers-list {
	display: flex;
	justify-content: space-between;

	margin: 0;
  	padding: 0;
}

.main-footer .container {
	display: flex;
}

.footer-social .social-button {
	display: flex;
	width: 260px;
	margin-right: 140px;
}

.discount {
	width: 560px;
}

/* ----- Внутренняя страница ----- */

.page-title {
	margin-left: 295px;
	margin-top: 100px;
	padding-bottom: 115px;
}

.portfolio-columns {
	display: flex;
	justify-content: space-between;
}

.filters {
	width: 260px;
}

.portfolio {
	width: 760px;
}

.templates {
	display: flex;
	flex-wrap: wrap;
}

.template-item {
	width: 360px;
	margin-bottom: 35px;
	margin-right: 20px;
}